# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv*/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Spark
spark-warehouse/
metastore_db/
derby.log

# Airflow
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py

# Jupyter
.ipynb_checkpoints/

# Data
*.parquet
*.csv
*.json
!tests/**/*.json

# Misc
*.log
